@font-face {
  font-family: 'Myanmar3';
  src: url("../font/Myanmar3.eot");
  /* IE9 Compat Modes */
  src: url("../font/Myanmar3.eot?#iefix") format("embedded-opentype"), url("../font/Myanmar3.woff") format("woff"), url("../font/Myanmar3.ttf") format("truetype"), url("../font/Myanmar3.svg#Myanmar3") format("svg");
  /* Legacy iOS */
  unicode-range: U+1000-109F, U+AA60-AA7B;
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Zawgyi-One';
  src: url("../font/Zawgyi-One.ttf");
  unicode-range: U+1000-1097;
  font-weight: normal;
  font-style: normal;
  font-size: 90%; }

html, body {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

img {
  border: none; }

a, span {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: Arial, "Myanmar3", Helvetica, sans-serif;
  color: #333;
  font-size: 100%;
  background-color: #fff; }

body {
  overflow: hidden; }
  body > div {
    position: absolute;
    width: 100%;
    height: 100%; }
    body > div > div {
      position: inherit;
      top: 0;
      bottom: 0;
      background-color: #fff; }
      body > div > div > div {
        position: absolute;
        width: 100%; }
        body > div > div > div.header {
          height: 50px; }
        body > div > div > div:last-child {
          top: 50px;
          bottom: 0;
          overflow: auto; }
      body > div > div.lmPanel {
        width: 320px;
        overflow: hidden;
        -webkit-user-select: none;
        background-color: #ededed; }
        body > div > div.lmPanel::before {
          content: '-';
          position: absolute;
          top: 0;
          width: 1px;
          height: 100%; }
        body > div > div.lmPanel > div.header {
          background-color: #ededed; }
        body > div > div.lmPanel > div.lmSB {
          background-color: #fff; }
        body > div > div.lmPanel#lPl {
          left: 0;
          z-index: 2; }
          body > div > div.lmPanel#lPl::before {
            right: 0; }
        body > div > div.lmPanel#lPr {
          right: 0;
          z-index: 1; }
          body > div > div.lmPanel#lPr::before {
            left: 0; }
      body > div > div.lmContent {
        -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.19) ;
        -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.19) ;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.19) ;
        will-change: transform;
        left: 0;
        right: 0;
        z-index: 7; }
        body > div > div.lmContent > div.header {
          z-index: 5;
          background-color: #f7f7f7;
          -webkit-user-select: none; }
        body > div > div.lmContent > div.lmSB {
          z-index: 3;
          border-top: 1px solid #cfcfcf; }

div.lmSB {
  box-sizing: border-box;
  overflow: auto;
  overflow-x: auto;
  -moz-overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 100%;
  max-width: 100%; }
  div.lmSB::-webkit-scrollbar-track {
    background-color: transparent; }
  div.lmSB::-webkit-scrollbar {
    width: 7px;
    background-color: transparent; }
  div.lmSB::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: lightgray; }

ul.lmList {
  list-style: none;
  padding: 1% 5%;
  font-size: 130%; }
  ul.lmList > li {
    margin-top: 1px;
    padding: 13px 7px;
    border-top: 1px solid #e0e0e0;
    color: #318ED7; }
    ul.lmList > li:first-child {
      border-top: 0; }

ul.lmMenu {
  display: table;
  width: 100%;
  height: 100%; }
  ul.lmMenu > li {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 60px;
    max-width: 60px; }
    ul.lmMenu > li:first-child, ul.lmMenu > li:last-child {
      min-width: 60px; }
    ul.lmMenu > li#lmD {
      width: 100%; }
      ul.lmMenu > li#lmD:empty[data-title]::before {
        content: attr(data-title);
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #999999; }
      ul.lmMenu > li#lmD input {
        border: 0px;
        line-height: 22px;
        width: 96%;
        padding: 7px 2%;
        outline: 0;
        font-size: 97%;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -webkit-appearance: none;
        background-color: #ededed;
        -webkit-tap-highlight-color: transparent; }
        ul.lmMenu > li#lmD input:focus {
          background-color: #f7f7f7;
          -webkit-box-shadow: inset 0px 0px 1px 1px #c7c7c7;
          -moz-box-shadow: inset 0px 0px 1px 1px #c7c7c7;
          box-shadow: inset 0px 0px 1px 1px #c7c7c7; }
    ul.lmMenu > li[class]::before {
      font-size: 130%;
      padding: 2px;
      color: #3590d8;
      font-weight: lighter;
      text-shadow: 1px 1px 1px #f2f2f2; }
    ul.lmMenu > li[class]:active, ul.lmMenu > li[class]:focus, ul.lmMenu > li[class]:hover {
      -webkit-tap-highlight-color: transparent; }
      ul.lmMenu > li[class]:active::before, ul.lmMenu > li[class]:focus::before, ul.lmMenu > li[class]:hover::before {
        color: #999999; }
    ul.lmMenu > li[class].active::before {
      color: red; }
