html, body {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

img {
  border: none; }

a, span {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: Arial, "Myanmar3", Helvetica, sans-serif;
  color: #333;
  font-size: 100%;
  background-color: #fff;
  overflow: hidden; }

body {
  overflow: hidden; }
  body > div {
    position: absolute;
    width: 100%;
    height: 100%; }
    body > div.scriptive > div {
      position: inherit;
      top: 0;
      bottom: 0;
      background-color: #fff; }
      body > div.scriptive > div > div {
        position: absolute;
        width: 100%; }
        body > div.scriptive > div > div.scHD {
          height: 50px; }
          body > div.scriptive > div > div.scHD > ul.scMenu {
            display: table;
            width: 100%;
            height: 100%; }
            body > div.scriptive > div > div.scHD > ul.scMenu > li {
              vertical-align: middle;
              display: table-cell;
              text-align: center;
              width: 60px;
              max-width: 60px; }
              body > div.scriptive > div > div.scHD > ul.scMenu > li:first-child, body > div.scriptive > div > div.scHD > ul.scMenu > li:last-child {
                min-width: 60px; }
              body > div.scriptive > div > div.scHD > ul.scMenu > li#lmD {
                width: 100%; }
                body > div.scriptive > div > div.scHD > ul.scMenu > li#lmD:empty[data-title]::before {
                  content: attr(data-title);
                  display: block;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  color: #999999; }
                body > div.scriptive > div > div.scHD > ul.scMenu > li#lmD input {
                  border: 0px;
                  line-height: 22px;
                  width: 96%;
                  padding: 7px 2%;
                  outline: 0;
                  font-size: 97%;
                  border-radius: 3px;
                  -webkit-border-radius: 3px;
                  -webkit-appearance: none;
                  background-color: #ededed;
                  -webkit-tap-highlight-color: transparent; }
                  body > div.scriptive > div > div.scHD > ul.scMenu > li#lmD input:focus {
                    background-color: #f7f7f7;
                    -webkit-box-shadow: inset 0px 0px 1px 1px #c7c7c7;
                    -moz-box-shadow: inset 0px 0px 1px 1px #c7c7c7;
                    box-shadow: inset 0px 0px 1px 1px #c7c7c7; }
              body > div.scriptive > div > div.scHD > ul.scMenu > li[class]::before {
                font-size: 130%;
                padding: 2px;
                color: #3590d8;
                font-weight: lighter;
                text-shadow: 1px 1px 1px #f2f2f2; }
              body > div.scriptive > div > div.scHD > ul.scMenu > li[class]:active, body > div.scriptive > div > div.scHD > ul.scMenu > li[class]:focus, body > div.scriptive > div > div.scHD > ul.scMenu > li[class]:hover {
                -webkit-tap-highlight-color: transparent; }
                body > div.scriptive > div > div.scHD > ul.scMenu > li[class]:active::before, body > div.scriptive > div > div.scHD > ul.scMenu > li[class]:focus::before, body > div.scriptive > div > div.scHD > ul.scMenu > li[class]:hover::before {
                  color: #999999; }
              body > div.scriptive > div > div.scHD > ul.scMenu > li[class].active::before {
                color: red; }
        body > div.scriptive > div > div.scSB {
          box-sizing: border-box;
          overflow: auto;
          overflow-x: auto;
          -moz-overflow: auto;
          -webkit-overflow-scrolling: touch;
          max-height: 100%;
          max-width: 100%; }
          body > div.scriptive > div > div.scSB::-webkit-scrollbar-track {
            background-color: transparent; }
          body > div.scriptive > div > div.scSB::-webkit-scrollbar {
            width: 7px;
            background-color: transparent; }
          body > div.scriptive > div > div.scSB::-webkit-scrollbar-thumb {
            border-radius: 0px;
            background-color: lightgray; }
        body > div.scriptive > div > div:last-child {
          top: 50px;
          bottom: 0;
          overflow: auto; }
      body > div.scriptive > div.scPanel {
        width: 320px;
        overflow: hidden;
        -webkit-user-select: none; }
        body > div.scriptive > div.scPanel::before {
          content: ' ';
          position: absolute;
          top: 0;
          width: 1px;
          height: 100%; }
        body > div.scriptive > div.scPanel > div.scSB > ul {
          list-style: none; }
          body > div.scriptive > div.scPanel > div.scSB > ul.lmList {
            padding: 1% 5%;
            font-size: 130%; }
            body > div.scriptive > div.scPanel > div.scSB > ul.lmList > li {
              margin-top: 1px;
              padding: 13px 15px;
              border-top: 1px solid #e0e0e0; }
              body > div.scriptive > div.scPanel > div.scSB > ul.lmList > li a {
                display: block;
                color: #3590d8; }
              body > div.scriptive > div.scPanel > div.scSB > ul.lmList > li:first-child {
                border-top: 0; }
        body > div.scriptive > div.scPanel#lPl {
          left: 0;
          z-index: 2; }
          body > div.scriptive > div.scPanel#lPl::before {
            right: 0; }
          body > div.scriptive > div.scPanel#lPl div > ul > li > a {
            text-align: right; }
        body > div.scriptive > div.scPanel#lPr {
          right: 0;
          z-index: 1; }
          body > div.scriptive > div.scPanel#lPr::before {
            left: 0; }
          body > div.scriptive > div.scPanel#lPr div > ul > li > a {
            text-align: left; }
      body > div.scriptive > div.scContent {
        -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.19) ;
        -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.19) ;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.19) ;
        left: 0;
        right: 0;
        z-index: 7; }
        body > div.scriptive > div.scContent > div.scHD {
          z-index: 5;
          -webkit-user-select: none; }
        body > div.scriptive > div.scContent > div.scSB {
          z-index: 3;
          border-top: 1px solid #cfcfcf; }
