&.setting{
  margin: 5px 0;
  >li{
    text-align: center;
    h3{
      padding:10px 10px;
      color: $ColorDim;
      text-transform: uppercase;
    }
    >ol{
      list-style: none;
      display: flex; align-items: center; justify-content: center; flex-wrap: wrap;
      >li{
        padding: 5px; margin: 5px;
        width: 40px; height: 40px;
        min-width: 50px;
        border-radius: 2px;
        vertical-align: middle;
        @include box-shadow(0, 0px, 1px, 1px, #b9baba,inset);
        &:before{
          padding: 1px;
          margin: 7px;
          font-size: 1.4em;
          color: #fff;@include text-shadow(1px, 1px, 1px, #666);
          border-radius: 50px;
        }
      }
      &.fontsize{
        li{
          &:not(.active){
            &[data-title]{
              &:before{
                content:attr(data-title);
                color:$ColorRed;@include text-shadow(0px, 1px, 1px, #fff);
                font-size: 1.5em;
                background-color: $ColorNone;
              }
            }
          }
        }
      }
      &.background{
        li{
          border: 3px solid darken(#fff,2%);
          &:not(.active){
            &:before{
              content:'';
            }
          }
          &.color-white{
            background-color: #ffffff;
            @include box-shadow(0, 0px, 1px, 1px, darken(#ffffff,15%),inset);
          }
          &.color-lightgray{
            background-color: #F8F8F8;
            @include box-shadow(0, 0px, 1px, 1px, darken(#F8F8F8,15%),inset);
          }
          &.color-dimgrey{
            background-color: #7f7f7f;
            @include box-shadow(0, 0px, 1px, 1px, darken(#7f7f7f,10%),inset);
          }
          &.color-chocolate{
            background-color: #b97a59;
            @include box-shadow(0, 0px, 1px, 1px, darken(#b97a59,10%),inset);
          }
          &.color-darkred{
            background-color: #880016;
            @include box-shadow(0, 0px, 1px, 1px, darken(#880016,10%),inset);
          }
          &.color-red{
            background-color: #ed1b24;
            @include box-shadow(0, 0px, 1px, 1px, darken(#ed1b24,10%),inset);
          }
          &.color-gold{
            background-color: #fef102;
            @include box-shadow(0, 0px, 1px, 1px, darken(#fef102,10%),inset);
          }
          &.color-green{
            background-color: #24b04d;
            @include box-shadow(0, 0px, 1px, 1px, darken(#24b04d,10%),inset);
          }
          &.color-darkblue{
            background-color: #3f47cc;
            @include box-shadow(0, 0px, 1px, 1px, darken(#3f47cc,10%),inset);
          }
        }
      }
    }
  }
}