&.msg{
  vertical-align: middle; text-align: center;
  >li{
    font-size: 120%;
    font-weight: lighter;
    color: $ColorDim;
    >p {
      // text-shadow:0px 1px 1px lighten(#000,15%);
      color:#666;
      &.update {
        display:inline-block;
        border-radius: 80px;
        font-size:80%;
        padding:10px 20px;
        margin:10px 5px;
        overflow: hidden;
        background-color:lighten(#000,65%);
        color:#fff;
        text-shadow:1px 1px 1px lighten(#666,15%);
        &:active{
          // color:$ColorGold;
          background-color:$ColorGold;
        }
      }
      &.toggle  {
        display:inline-block;
        border-radius: 80px;
        font-size:100%;
        padding:0;
        margin:10px 5px;
        overflow: hidden;
        background-color:lighten(#000,50%);
        color:#fff;
        text-shadow:1px 1px 1px lighten(#000,15%);
        span{
          display: inline-block;
          padding:7px 15px;
          &:nth-child(2){
            border-left: 1px solid #ccc;
          }
          &.active{
            background-color:lighten(#000,80%);
          }
          &:active{
            background-color:$ColorGold;
          }
        }
      }
    }
  }
  &.error{
    display: table; height: 100%; margin: 0 auto;
    >li{
      display: table-cell; vertical-align: inherit;
    }
  }
  &.notify{
    padding-top:25px;
    >li{

    }
  }
}