@import 'Config';
@import 'font.Face';
body {
  >div{
    &.scriptive{
      >div{
        >div{
          &.scHD{
            >ul {
              &.scMenu{
                >li {
                  &:first-child, &:last-child{}
                  &:first-child{}
                  &:last-child{}
                  &#lmD{
                    width:100%;
                    &:empty {
                      &[data-title]{
                        &::before{
                        }
                      }
                    }
                    input {
                    }
                  }
                  &[class]{
                    &::before{
                      color: lighten(#000,30%);

                    }
                    &:active, &:focus, &:hover{
                      &::before{
                        color: $ColorGold;
                      }
                    }
                    &.active {
                      &::before{
                        color: $ColorGold;
                        text-shadow:0px 1px 1px #666;
                      }
                    }
                  }
                }
              }
            }
          }
          &.scSB {}
          &:last-child{}
        }
        &.scPanel{
          > div {
            background-color:lighten(#000,30%);
            &.scHD {}
            &.scSB {
              >ul {
                @import "panel.Menu";
              }
            }
          }
          &#lPl{}
          &#lPr{}
        }
        &.scMain{
          &.overlay{
            &::before{}
          }
          > div {
            &.scHD {}
            &.scSB {}
          }
        }
      }
    }
    @import "screen.Splash";
  }
}
// NOTE: iOS
div.scriptive{
  // border-top: $HeightStatus solid #fff;
  &::before{
    // top:-$HeightStatus; left: 0; right: 0;
    // background-color:darken($ColorBackground,1%);
    // border-bottom: 1px solid darken($ColorBackground,5%);
    // @include box-shadow(inset, 0px, 1px, 1px,0px, rgba(0,0,0,.19));
  }
  >div{
    >div{
      &.scSB{
        // bottom: $HeightStatus;
      }
    }
  }
}
div{
}
ul {
  list-style: none;
  li {
  }
  @import "eba.Home";
  @import "eba.Category";
  @import "eba.Reader";
  @import "eba.Setting";
  @import "eba.About";
  @import "eba.Contact";
  @import "eba.Search";
  @import "eba.Msg";
}
@media #{$media-mobile} {
}
@media #{$media-tablet} {
}
@media #{$media-desktop} {
}