*.v[0-9].*
#*-v.*.*

# Compiled binary addons (https://nodejs.org/api/addons.html)
src/**/*.js
src/**/*.css
#assets/
hooks/
dist/
platforms/
package-lock.json

# Dependency directories
node_modules/

#delete
#output
#*tmp*/
#*delete*
#*working*
#*tmp*
#*copy*
#*job*
#test
# Public
#public/*
#!public/*.md

# Assets
#asset/*/*[0-9].*

# Development
#dev/*/**
#!dev/*/*.md
#!dev/*/*.json
#!dev/*/*.png