*.v[0-9].*

# Compiled binary addons (https://nodejs.org/api/addons.html)
src/**.js
assets/
hooks/
disk/
platforms/

# Dependency directories
node_modules/
package-lock.json


#delete
#output
#*tmp*/
#*delete*
#*working*
#*tmp*
#*copy*
#*job*

# Public
#public/*
#!public/*.md

# Assets
#asset/*/*[0-9].*

# Development
#dev/*/**
#!dev/*/*.md
#!dev/*/*.json
#!dev/*/*.png