
.icon-star:before { content: '\e800'; } /* '' */
.icon-share:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-refresh:before { content: '\e824'; } /* '' */
.icon-config:before { content: '\e839'; } /* '' */
.icon-dot3:before { content: '\e83a'; } /* '' */
.icon-loading:before { content: '\e83b'; } /* '' */
.icon-lookup:before { content: '\e83d'; } /* '' */
.icon-slim-right:before { content: '\f006'; } /* '' */
.icon-slim-left:before { content: '\f007'; } /* '' */
.icon-panel:before { content: '\f0c9'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */