&.menu{
  padding:10px 45px;
  li{
    text-align: center;
    font-size: 1.3em;
    padding:10px 10px;
    margin:7px 0px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    overflow: hidden;
    // border-top:1px solid #e1e2e2;
    // border-bottom:1px solid #e1e2e2;
    @include box-shadow(0px, -1px, 1px, 1px, #bdbebe);
    @include text-shadow(1px, 1px, 0px, #f1e9eb);
    color: #646666;
  }
}