&.tmp{
}
// @media screen and (orientation:portrait) {
//   body {
//     &.iphone {
//       padding-top: 20px;
//       >header {
//        height:55px; top: 20px;
//       }
//       >main {
//         top:75px;bottom:0px;
//       }
//     }
//   }
// }
// @media screen and (orientation:landscape) {
//   body {
//     &.iphone {
//       >header {
//         height:55px;
//       }
//       >main {
//         top:55px;bottom:0px;
//       }
//     }
//   }
// }