&.about{
  padding:10px 20px;
  text-align: center;
  li{
    margin: 5px 7px;
    &.name{
      font-size: 1.6em;
      margin: 20px 2px;
    }
    &.version{
      margin: 2px 40px;
      padding: 15px 2px;
      border-top: 1px dotted #ccc;
      border-bottom: 1px dotted #ccc;
    }
    &.description{
      margin: 20px 2px 20px 2px;
      font-size: 1em;
    }
    &.author{
      font-size: 1.1em;
    }
  }
}
