&.iphone {
  -webkit-text-size-adjust: none;
  @media screen and (orientation:portrait) {
    padding-top: 20px;
    >header {
      height:55px; top: 20px;
      ul{
        li{
          &.filter{
            >ul{
              >li{
                top:70px;
              }
            }
          }
        }
      }
    }
    >main {
      top:75px;bottom:0px;
    }
  }
  @media screen and (orientation:landscape) {
    >header {
      height:55px;
    }
    >main {
      top:55px;bottom:0px;
    }
  }
}