main{
  div{
    ul{
      li{}
      &.content{
        li{
          h2{
            font-size: 1.2em;
          }
          h3, p{
          }
          h3{
            font-size: 1.1em;
            i{
              font-size: 1.4em;
              &:before{
              }
            }
          }
          p{
            font-size: 1em;
            b{
              font-weight: lighter;
            }
          }
          &.active{
            h3{
              i{
                &:before{
                }
              }
            }
          }
          &.category{
            h2{
              font-size: 1.4em;
            }
          }
        }
      }
    }
  }
}