html, body {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

html.fixfixed, body.fixfixed {
  height: inherit;
}

.none {
  display: none !important;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, "Myanmar3", Helvetica, sans-serif;
  color: #333;
  font-size: 100%;
  background-color: #f6f8f9;
}

@keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}

body .blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}

body > .screen {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  z-index: 9999;
  font-size: 1.6em;
  text-align: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  text-shadow: 0px 1px 1px #000;
}

body > .screen h1 {
  margin-top: 15%;
  background-color: #ccc;
}

body > .screen p {
  margin-top: 5%;
}

body > .screen p:before {
  content: attr(title);
  margin-right: 5px;
}

body > .screen p:after {
  content: '...';
}

body > .panel {
  z-index: 4;
  max-height: 100%;
  overflow: hidden;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 18px solid rgba(255, 255, 255, 0.5);
}

body > .panel nav {
  position: inherit;
  max-height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  top: 0px;
  bottom: 0px;
  width: 80%;
  max-width: 15em;
  background-color: #fff;
  box-shadow: 1px 0px 1px 0px #b9baba ;
}

body > .panel nav ul {
  padding: 10px;
}

body > .panel nav ul li {
  padding: 10px 12px;
  font-size: 1.2em;
  border-bottom: 1px dotted #e1dfdf;
}

body > .panel nav ul li:last-child {
  border-bottom: 0;
}

body > * {
  position: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body > *:empty {
  display: none;
}

body > * * {
  position: relative;
  padding: 0;
  margin: 0;
}

body header {
  z-index: 3;
  top: 0px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 0px 0px #b9baba ;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body header > ul {
  display: table;
  width: 100%;
  height: 100%;
}

body header > ul > li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

body header > ul > li a {
  font-size: 1.5em;
  color: #5a5c5e;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

body header > ul > li a span {
  display: none;
  text-indent: -9999px;
}

body header > ul > li input {
  display: block;
  width: 90%;
  padding: 5px 5%;
  border: 0;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0px 1px 1px #cdcfcf inset;
  border-radius: 2px;
  color: #595a5a;
  -webkit-tap-highlight-color: transparent;
}

body header > ul > li input:focus {
  background-color: rgba(255, 255, 255, 0.8);
  outline: 0;
}

body header > ul > li input::selection {
  color: red;
  background-color: rgba(0, 0, 0, 0.3);
}

body header > ul > li > ul {
  position: absolute;
  display: none;
}

body header > ul > li > ul:after, body header > ul > li > ul:before {
  top: -5px;
  left: 25px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

body header > ul > li > ul:after {
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

body header > ul > li > ul:before {
  border-bottom-color: #cdcfcf;
  border-width: 7px;
  margin-left: -7px;
}

body header > ul > li > ul > li {
  position: fixed;
  top: 50px;
  right: 2px;
  width: 70%;
  max-width: 250px;
  max-height: 80%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px 10px;
  box-shadow: 0 0px 1px 1px #cdcfcf inset;
}

body header > ul > li > ul > li ul {
  font-size: 1.5em;
  list-style: none;
  text-align: left;
}

body header > ul > li > ul > li ul li {
  margin: 10px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ccc;
}

body header > ul > li > ul > li ul li.active {
  color: #970f0f;
}

body header > ul > li > ul > li ul li.active:before {
  color: #970f0f;
}

body header > ul > li.fix {
  width: 50px;
}

body header > ul > li.title {
  max-width: 100px;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body header > ul > li.active > a::before {
  color: #970f0f;
}

body header > ul > li.active > ul {
  display: block;
}

body main {
  z-index: 1;
  top: 55px;
  bottom: 0px;
  max-height: 100%;
}

body main > div.container, body main > div.active {
  max-height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
}

body main > div.active {
  height: 100%;
}

body main > div:not(.active) {
  display: none;
}

body main > div.container > ol, body main > div.container > ul {
  display: block;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

body main > div.container > ol li, body main > div.container > ul li {
  padding: 0;
  margin: 0;
}

body main > div.container > ol li {
  overflow: hidden;
}

body main > div.container > ol li a {
  display: block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #666;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

body main > div.container > ol li a:before {
  color: #8d8d90;
}

body main > div.container > ol.category {
  box-shadow: 0 0px 0px 0px #b9baba ;
  background-color: rgba(255, 255, 255, 0.3);
}

body main > div.container > ol.category li {
  border-top: 1px solid #dedede;
}

body main > div.container > ol.category li:last-child {
  border-bottom: 1px solid #dedede;
}

body main > div.container > ol.category li a {
  font-size: 1.2em;
  padding: 13px 25px 13px 13px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.6);
}

body main > div.container > ol.category li a:before {
  position: absolute;
  top: 16px;
  right: 10px;
  font-weight: lighter;
}

body main > div.container > ul.content {
  margin: 0;
}

body main > div.container > ul.content li {
  padding: 10px 30px 10px 35px;
}

body main > div.container > ul.content li h3, body main > div.container > ul.content li p {
  display: inline;
  position: relative;
}

body main > div.container > ul.content li h3 {
  font-size: 1.2em;
  color: #888787;
  text-shadow: 0px 1px 0px #fff;
}

body main > div.container > ul.content li h3 i {
  display: inline-block;
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 1px;
  font-size: 1.4em;
  left: -0.9em;
}

body main > div.container > ul.content li h3 i:before {
  margin: 0;
  color: #c0bfbf;
  text-shadow: 1px 1px 0px #f1e9eb;
}

body main > div.container > ul.content li p {
  font-size: 1.1em;
  padding-left: 5px;
}

body main > div.container > ul.content li p b {
  color: #8e070a;
  font-weight: lighter;
  text-shadow: 1px 1px 0px #f1e9eb;
}

body main > div.container > ul.content li p b::first-letter {
  color: red;
}

body main > div.container > ul.content li.active h3 i:before {
  color: red;
}

body main > div.container > ul.content li.category {
  padding: 20px 30px 20px 30px;
  border-top: 1px solid #e0dfdf;
  border-bottom: 1px solid #e0dfdf;
  background-color: rgba(255, 255, 255, 0.3);
}

body main > div.container > ul.content li.category h2 {
  font-size: 1.5em;
  color: #999797;
}

body main > div.container > ul.setting li {
  padding: 10px 20px;
}

body main > div.container > ul.setting li span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: #9f9d9d;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 1px rgba(185, 186, 186, 0.7) inset;
  text-shadow: 1px 1px 0px #f1e9eb;
  text-indent: -9999px;
}

body main > div.container > ul.setting li span:before {
  text-indent: 0px;
  font-size: 1.2em;
}

body main > div.container > ul.setting li.title {
  text-align: center;
  font-size: 1.4em;
  padding: 20px;
  color: #b4b3b3;
}

body main > div.container > ul.setting li.title:first-letter {
  text-transform: capitalize;
}

body main > div.container > ul.setting li.fontsize {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

body main > div.container > ul.setting li.fontsize span {
  height: 40px;
  padding: 10px;
}

body main > div.container > ul.setting li.fontsize span:before {
  content: attr(title);
}

body main > div.container > ul.setting li.fontsize span.active {
  color: #858484;
}

body main > div.container > ul.setting li.fontsize span.active:before {
  content: '\e809';
}

body main > div.container > ul.setting li.background {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
  -webkit-column-gap: 20px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 20px;
  /* Firefox */
  column-gap: 20px;
}

body main > div.container > ul.setting li.background span {
  margin-bottom: 10px;
  height: 60px;
}

body main > div.container > ul.setting li.background span.active:before {
  content: '\e809';
}

body main > div.container > ul.setting li.background span.color-white {
  background-color: #ffffff;
}

body main > div.container > ul.setting li.background span.color-lightgray {
  background-color: #e1e1e1;
}

body main > div.container > ul.setting li.background span.color-dimgrey {
  background-color: #7f7f7f;
}

body main > div.container > ul.setting li.background span.color-chocolate {
  background-color: #b97a59;
}

body main > div.container > ul.setting li.background span.color-darkred {
  background-color: #880016;
}

body main > div.container > ul.setting li.background span.color-red {
  background-color: #ed1b24;
}

body main > div.container > ul.setting li.background span.color-gold {
  background-color: #fef102;
}

body main > div.container > ul.setting li.background span.color-green {
  background-color: #24b04d;
}

body main > div.container > ul.setting li.background span.color-darkblue {
  background-color: #3f47cc;
}

body main > div.container > ul.menu {
  padding: 10px 45px;
}

body main > div.container > ul.menu li {
  text-align: center;
  font-size: 1.3em;
  padding: 10px 10px;
  margin: 7px 0px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0px -1px 1px 1px #bdbebe ;
  text-shadow: 1px 1px 0px #f1e9eb;
  color: #646666;
}

body main > div.container > ul.about {
  padding: 10px 20px;
  text-align: center;
}

body main > div.container > ul.about li {
  margin: 5px 7px;
}

body main > div.container > ul.about li.name {
  font-size: 1.6em;
  margin: 20px 2px;
}

body main > div.container > ul.about li.version {
  margin: 2px 40px;
  padding: 15px 2px;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
}

body main > div.container > ul.about li.description {
  margin: 20px 2px 20px 2px;
  font-size: 1em;
}

body main > div.container > ul.about li.author {
  font-size: 1.1em;
}

body main > div.container > ul.language {
  padding: 10px 10px;
}

body main > div.container > ul.language li {
  font-size: 1.1em;
  display: table;
  width: 100%;
  margin: 7px 0;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 1px 0px #bdbebe ;
}

body main > div.container > ul.language li p {
  display: table-cell;
  padding: 7px 5px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  text-overflow: ellipsis;
}

body main > div.container > ul.language li p.lang {
  max-width: 50px;
}

body main > div.container > ul.language li p.lang:before {
  color: #878686;
  margin-left: 5px;
  margin-right: 10px;
}

body main > div.container > ul.language li p.download {
  width: 35px;
  font-size: 2.3em;
  color: #7a7b7d;
  text-align: center;
  text-shadow: 0px 2px 1px #fff;
}

body main > div.container > ul.language li p.download:before {
  content: '\f204';
}

body main > div.container > ul.language li p.download span {
  display: none;
}

body main > div.container > ul.language li.active p.lang:before {
  color: #a92828;
}

body main > div.container > ul.language li.active p.download {
  color: #238d06;
}

body main > div.container > ul.language li.active p.download:before {
  content: '\f205';
}

body main > div.container > div.msg {
  padding: 7% 1% 5% 1%;
  text-align: center;
}

body main > div.container > div.msg.error {
  display: flex;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5%;
  padding-right: 5%;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  color: #ccc;
}

body main > div > div > ol, body main > div > div > ul {
  list-style: none;
}

body footer {
  display: none;
  z-index: 2;
  bottom: 0px;
  height: 50px;
}

body.iphone {
  -webkit-text-size-adjust: none;
}

@media screen and (orientation: portrait) {
  body.iphone {
    padding-top: 20px;
  }
  body.iphone > header {
    height: 55px;
    top: 20px;
  }
  body.iphone > header ul li.filter > ul > li {
    top: 70px;
  }
  body.iphone > main {
    top: 75px;
    bottom: 0px;
  }
}

@media screen and (orientation: landscape) {
  body.iphone > header {
    height: 55px;
  }
  body.iphone > main {
    top: 55px;
    bottom: 0px;
  }
}

body.ipad {
  -webkit-text-size-adjust: none;
}

body.android header ul li a {
  text-decoration: none;
  font-size: 1.7em;
}

body.android header ul li.title {
  font-size: 1.6em;
}

body.android main div.container > ol.category li a {
  font-size: 1.4em;
}

body.android main div.container > ol.category li a:before {
  top: 16px;
  right: 10px;
}

body.android main div.container > ul.content li h3 {
  font-size: 1.4em;
}

body.android main div.container > ul.content li p {
  font-size: 1.3em;
}

body.color-white {
  background-color: #ffffff;
}

body.color-lightgray {
  background-color: #e1e1e1;
}

body.color-dimgrey {
  background-color: #7f7f7f;
}

body.color-chocolate {
  background-color: #b97a59;
}

body.color-darkred {
  background-color: #880016;
}

body.color-red {
  background-color: #ed1b24;
}

body.color-gold {
  background-color: #fef102;
}

body.color-green {
  background-color: #24b04d;
}

body.color-darkblue {
  background-color: #3f47cc;
}

body.size-small-extra main div ul.content li h2 {
  font-size: 1.1em;
}

body.size-small-extra main div ul.content li h3 {
  font-size: 1em;
}

body.size-small-extra main div ul.content li h3 i {
  font-size: 1.4em;
}

body.size-small-extra main div ul.content li p {
  font-size: 0.9em;
}

body.size-small-extra main div ul.content li p b {
  font-weight: lighter;
}

body.size-small-extra main div ul.content li.category h2 {
  font-size: 1.3em;
}

body.size-small main div ul.content li h2 {
  font-size: 1.2em;
}

body.size-small main div ul.content li h3 {
  font-size: 1.1em;
}

body.size-small main div ul.content li h3 i {
  font-size: 1.4em;
}

body.size-small main div ul.content li p {
  font-size: 1em;
}

body.size-small main div ul.content li p b {
  font-weight: lighter;
}

body.size-small main div ul.content li.category h2 {
  font-size: 1.4em;
}

body.size-large main div ul.content li h2 {
  font-size: 1.4em;
}

body.size-large main div ul.content li h3 {
  font-size: 1.3em;
}

body.size-large main div ul.content li h3 i {
  font-size: 1.4em;
}

body.size-large main div ul.content li p {
  font-size: 1.2em;
}

body.size-large main div ul.content li p b {
  font-weight: lighter;
}

body.size-large main div ul.content li.category h2 {
  font-size: 1.5em;
}

body.size-large-extra main div ul.content li h2 {
  font-size: 1.6em;
}

body.size-large-extra main div ul.content li h3 {
  font-size: 1.5em;
}

body.size-large-extra main div ul.content li h3 i {
  font-size: 1.4em;
}

body.size-large-extra main div ul.content li p {
  font-size: 1.4em;
}

body.size-large-extra main div ul.content li p b {
  font-weight: lighter;
}

body.size-large-extra main div ul.content li.category h2 {
  font-size: 1.7em;
}
