a, span { outline: none; text-decoration: none; -webkit-user-select: none; -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; -webkit-user-select: none; -webkit-touch-callout: none; }

#dialog, header { cursor: default; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; }

* { margin: 0; padding: 0; }

form input[type="checkbox"]:disabled { opacity: 0.3; }

html, body { position: absolute; top: 0; left: 0; margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden; }

body { color: #333; font-size: 100%; font-family: Arial, "Myanmar3", Helvetica, sans-serif; -webkit-text-size-adjust: none; background-color: #F8F8F8; }

body > div { position: fixed; left: 0; right: 0; }

body > div#screen { z-index: 9999; display: table; width: 100%; height: 100%; border-spacing: 0 0; border-collapse: separate; background-color: #f6f5f5; }

body > div#screen div { display: table-row; height: 20%; }

body > div#screen div:first-child { height: 40%; }

body > div#screen div:last-child { height: 40%; }

body > div#screen div > * { display: table-cell; text-align: center; vertical-align: middle; }

body > div#screen div h1 { font-family: "Times New Roman", serif; font-size: 19pt; color: #6B6A6A; text-transform: uppercase; text-shadow: 0 1px 1px #ccc; background-color: #F8F8F8; box-shadow: 0 1px 1px 0 #e0e0e0; }

body > div#screen div h1[title]:after { position: absolute; padding: 2px 5px; display: inline-block; background-color: #FBFBFB; border-radius: 2px; content: attr(title); font-size: 11pt; color: #AAAAAA; text-shadow: 0 1px 1px #fff; -webkit-transform: rotate(25deg); -ms-transform: rotate(25deg); transform: rotate(25deg); box-shadow: inset 0px 0 1px 1px #e0e0e0; }

body > div#screen div h1:before { font-size: 18pt; }

body > div#screen div p { font-size: 12pt; color: #978C8C; text-shadow: 0 1px 1px #ccc; }

body > div#screen div ol { list-style: none; }

body > div#screen div ol li { font-size: 13pt; color: #666; text-shadow: 0 1px 0 #ccc; }

body > div#dialog { top: 0; bottom: 0; z-index: 5; background-color: rgba(255, 255, 255, 0.8); }

body > div#dialog > div { max-width: 310px; margin: 72px auto; padding: 20px; line-height: 18px; box-shadow: inset 0 0px 1px 1px #ccc; background-color: #fff; color: #6B6868; text-align: center; border-radius: 3px; }

body > div#dialog > div > div { min-height: 40px; padding: 10px 5px 20px 5px; text-align: center; }

body > div#dialog > div > div h1 { margin-bottom: 15px; }

body > div#dialog > div > div p { padding: 3px 0; }

body > div#dialog > div > p { display: inline-block; padding: 5px 12px; min-width: 30px; background-color: #fff; background-color: white; border: 1px solid #d9dbdd; box-shadow: inset 0 0px 1px 0px #d9dbdd; border-radius: 2px; }

body > div#dialog > div > p:hover { background-color: #fbfbfb; }

body > div#dialog > div > p.cancel { color: #9e9b9b; }

@media screen and (max-width: 320px) { body > div#dialog > div { max-width: 80%; } }

body > div#dialog.confirm > div > p.cancel { display: none; }

body > div#dialog.wait > div > p { display: none; }

body > div#main { z-index: 1; display: table; width: 100%; height: 100%; border-collapse: collapse; top: 0; bottom: 0; box-sizing: border-box; -webkit-box-sizing: border-box; overflow: hidden; }

body > div#main > * { display: table-row; }

body > div#main > *:empty { display: none; }

body > div#main nav { display: none; height: 100%; width: 100%; z-index: 4; background-color: rgba(0, 0, 0, 0.1); position: fixed; top: 0px; bottom: 0; right: 0; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; /* >div{ z-index: 7; position: fixed; width: 95%; max-width:290px; top:0px; bottom:0;  right: 0; // margin: 20px 0 20px 0; overflow:auto;-webkit-overflow-scrolling:touch;box-sizing:border-box;-webkit-box-sizing: border-box; @include text-size-adjust(100%);@include box-sizing(); background-color: #fff; box-shadow: -1px 0px 1px 1px darken(#e1e1e2,10%); } */ }

body > div#main nav dl { z-index: 7; position: fixed; width: 95%; max-width: 290px; top: 0px; bottom: 0; right: 0; background-color: #fff; box-shadow: -1px 0px 1px 1px #c7c7c9; }

body > div#main nav dl dt { display: flex; height: 30px; align-items: center; }

body > div#main nav dl dt p { text-align: center; font-size: 115%; text-transform: uppercase; color: #fff; }

body > div#main nav dl dd { overflow-y: auto; -webkit-overflow-scrolling: touch; height: 100%; max-height: -o-calc(100% - 30px); max-height: -moz-calc(100% - 30px); max-height: -webkit-calc(100% - 30px); }

body > div#main nav dl dd:empty { display: none; }

body > div#main nav dl dd > ul { list-style: none; }

body > div#main header { z-index: 3; background-color: #fff; border-bottom: 1px solid #d9d9d9; vertical-align: middle; }

body > div#main main { z-index: 2; height: 100%; }

body > div#main main > div { position: fixed; top: 50px; left: 0; right: 0; bottom: 0; }

body > div#main main > div.container.active { overflow: auto; -webkit-overflow-scrolling: touch; box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; box-sizing: border-box; }

body > div#main main > div:not(.active) { display: none; }

body.color-white { background-color: #ffffff; }

body.color-lightgray { background-color: #F8F8F8; }

body.color-dimgrey { background-color: #7f7f7f; }

body.color-chocolate { background-color: #b97a59; }

body.color-darkred { background-color: #880016; }

body.color-red { background-color: #ed1b24; }

body.color-gold { background-color: #fef102; }

body.color-green { background-color: #24b04d; }

body.color-darkblue { background-color: #3f47cc; }

ul { list-style: none; /* &.hO{ display: none; position: absolute; box-shadow:inset 0 0px 1px 1px #ccc;background-color:#FFF;border-radius:2px;z-index:90; top:40px;padding:3px; margin: 0 auto; // width:90%;max-width:290px;min-height:40px; // width:90%;width:290px;height:40px; &:empty { display: none; } &:before, &:after{ position: absolute; display:block;width:0px;height:0px;content: "";vertical-align:middle;border:solid transparent; } &:before{ border-bottom-color:#ccc;border-width:7px;right:27px;top:-13px; // border-bottom-color:#ccc;border-width:9px;right:27px;top:-17px; } &:after{ border-bottom-color:#fff;border-width:7px;right:27px;top:-11px; // border-bottom-color:#fff;border-width:9px;right:27px;top:-15px; } >li{ display: block; position: relative; -webkit-overflow-scrolling:touch; overflow:auto; // overflow-y:auto; // overflow-x: hidden; box-sizing: border-box; // width:290px; // max-width:290px; max-height:70vh; &::-webkit-scrollbar { width:5px; } &:empty{ display:none; } } } &.hW{ position:absolute; top:30px; left: 0px; // border-radius:2px;z-index:9999; width:100%; padding:0; background-color:#FFF;box-shadow:inset 0px -1px 1px 0px darken($BackgroundColor,22%); display: none; &:empty{ display: none; } >li{ display:block;overflow:auto;max-height:70vh; &:empty{ display:none; } } } */ }

nav > dl > dd ul { padding: 5px 10px; }

nav > dl > dd ul li { border-bottom: 1px dotted #ccc; padding: 10px; font-size: 110%; text-transform: uppercase; }

nav > dl > dd ul li.active p a { color: #ccc; }

nav > dl > dd ul li p a { display: block; padding: 5px 7px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; color: #052B58; }

nav > dl > dd ul li p a[data-title]:after { content: attr(data-title); }

nav > dl > dd ul li div { display: table-cell; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 100%; max-width: 90px; padding: 5px 7px; }

nav > dl > dd ul li div:last-child { text-align: center; width: 90px; background-color: #ccc; }

nav > dl > dd ul li div span.icon-loading { max-width: 50px; }

nav > dl > dd ul li div span.icon-loading:before { color: #fff; }

nav > dl > dd ul li:last-child { border-bottom: 0; }

/*
nav{
  >div{
    ul{
      padding: 20px 10px;
      li{
        border-bottom: 1px dotted #ccc;
        padding:15px 10px;
        font-size: 120%;
        text-transform: uppercase;
        // display: table; width: 100%;
        a{
          display: block;
          padding: 10px;
          text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
          color: $ColorBlue;
        }
        div{
          display: table-cell;
          text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
          width: 100%;
          max-width: 90px;
          padding:5px 7px;
          &:last-child{
            text-align: center;
            width: 90px;
            // min-width: 90px;
            // background-color: red;
            // border: 1px solid #ccc;
            background-color: #ccc
          }
        }
        &:last-child{
          border-bottom: 0;
        }
      }
    }
  }
}
*/
header > ul { display: table; width: 100%; height: 100%; vertical-align: inherit; }

header > ul > li { display: table-cell; vertical-align: inherit; position: relative; }

header > ul > li:last-child > ul { display: none; }

header > ul > li:last-child > ul.active { display: table; width: 100%; height: 100%; vertical-align: inherit; }

header > ul > li:last-child > ul.active > li { display: table-cell; vertical-align: inherit; }

header > ul > li.ctl > ul { position: inherit; }

header > ul > li.ctl > ul > li { line-height: 20px; height: 49px; text-overflow: ellipsis; overflow: hidden; }

header > ul > li.ctl > ul > li > div { padding: 11px 1px 12px 1px; font-size: 110%; text-overflow: ellipsis; overflow: hidden; }

header > ul > li.ctl > ul > li > div:before { color: #8f9193; font-size: 120%; }

header > ul > li.ctl > ul > li > div:hover:before { color: #c12e2e; }

header > ul > li.ctl > ul > li.link-content { text-transform: uppercase; white-space: nowrap; max-width: 90px; position: inherit; }

header > ul > li.ctl > ul > li.fixed { width: 50px; text-align: center; }

header > ul > li.ctl > ul > li.fixed.border { visibility: hidden; }

header > ul > li.ctl > ul > li.fixed.border > div { border: 1px solid #ccc; margin: 5px 5px 6px 5px; padding: 6px 0px 6px 1px; }

header > ul > li.ctl > ul > li > div { text-align: center; cursor: default; }

header > ul > li.ctl > ul > li > div[data-title]:after { background-color: #8f9193; }

header > ul > li.ctl > ul > li:first-child { border-right: 1px solid #ccc; }

header > ul > li.ctl > ul > li:last-child { border-left: 1px solid #ccc; }

body#category header > ul > li.ctl > ul > li.fixed.border, body#reader header > ul > li.ctl > ul > li.fixed.border { visibility: visible; }

ol { list-style: none; font-size: 100%; }

ol.main-footer { position: fixed; height: 35px; bottom: 0; left: 0; right: 0; }

ol.main-footer > li { text-align: center; padding-top: 3px; }

ol.main-footer > li > ul { display: inline-block; border: 1px solid #ccc; }

ol.main-footer > li > ul > li { display: inline-block; padding: 5px 7px; text-transform: uppercase; cursor: default; border-right: 1px solid #ccc; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; }

ol.main-footer > li > ul > li.inactive { color: #ccc; }

ol.main-footer > li > ul > li:last-child { border-right: 0; }

ol.main-index { position: fixed; top: 60px; right: 15px; width: 18px; max-height: 80vh; text-align: center; background-color: rgba(0, 0, 0, 0.1); border-radius: 15px; overflow-x: hidden; overflow-y: scroll; font-size: 80%; cursor: default; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; }

ol.main-index::-webkit-scrollbar { width: 0 !important; }

ol.main-index li { width: 18px; padding: 3px 0; }

ol.common-box-main { padding: 20px; }

ol.common-box-main li div { display: block; padding: 10px 7px; margin: 5px 30px 5px 30px; border: 1px solid #ccc; text-transform: capitalize; font-size: 120%; color: #000; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; max-width: 100%; }

ol.main-language { padding: 10px; }

ol.main-language li { display: table; width: 98%; margin: 10px 1%; }

ol.main-language li div { display: table-cell; font-size: 110%; text-transform: uppercase; padding: 7px 3px; }

ol.main-language li div:first-child { max-width: 40px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

ol.main-language li div:last-child { width: 90px; text-align: center; border: 1px solid #ccc; }

ol.main-book_delete_or_what { /* margin:5px 0;border-left: 0; border-right: 0; li{ border-bottom: 1px solid darken($BackgroundColor,7%); @include box-shadow(0px, 1px, 0px, 0px, #fff); text-align: center; margin:15px 0; &:last-child{ border: 0;@include box-shadow(0px, 0px, 0px, 0px, #fff); } >div{ text-align: inherit; text-overflow:ellipsis; overflow: hidden;  font-size: 115%; &:first-child{ width: 35px; height: 35px; margin: 0 auto; &:before{ display: block; vertical-align: middle; text-align: center; position: relative; padding:3px; line-height: 1.3em; font-size: 1em; color:$ColorBlue; width: 23px; height: 23px; background-color: darken($BackgroundColor,7%); border-radius:30px;  } &.icon-cloud{ &:before{ color:$ColorBlue; } } &.icon-attention{ &:before{ color:$ColorDim; } } &.icon-ok{ &:before{ color:$ColorGreen; } } &.icon-loading{ // NOTE: animate-spin &:before{ color:$ColorRed; background-color: transparent; @include box-shadow(0, 0px, 0px, 0px, #fff); } } } &:last-child{ cursor: pointer; white-space: nowrap;max-width: 100%; padding: 10px; &[data-description]:not(:empty){ &:after{ display: block; margin-top: 7px; font-size: 70%; white-space: pre-wrap; content: attr(data-description); color:$ColorBlue; } } } } } */ }

ol.main-upload_delete_or_what { margin: 2%; border: 2px dotted #666; border-radius: 7px; background-color: #fff; font-size: 90%; }

ol.main-upload_delete_or_what > li { text-align: center; padding: 15px 10px; }

ol.main-upload_delete_or_what > li:nth-child(1) { color: #c12e2e; font-size: 80%; }

ol.main-upload_delete_or_what > li:nth-child(2) input { width: auto; color: transparent; outline: none; background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3); border: 1px solid #666; box-shadow: 0px 0px 1px 1px #ccc inset; border-radius: 50px; }

ol.main-upload_delete_or_what > li:nth-child(2) input::-webkit-file-upload-button { visibility: hidden; display: none; }

ol.main-upload_delete_or_what > li:nth-child(2) input::before { content: 'Choose your XML!'; color: black; display: block; text-align: center; padding: 5px 0px; outline: none; -webkit-user-select: none; cursor: pointer; text-shadow: 1px 1px #fff; }

ol.main-upload_delete_or_what > li:nth-child(2) input:hover::before { border-color: red; }

ol.main-upload_delete_or_what > li:nth-child(2) input:active { outline: 0; }

ol.main-category { margin: 5px 0; vertical-align: middle; counter-reset: my-badass-counter; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; }

ol.main-category li { vertical-align: inherit; font-size: 107%; position: relative; padding: 0px 5px; line-height: 20px; border-bottom: 1px solid #e1e1e1; }

ol.main-category li.alpha { text-align: center; font-size: 140%; padding: 20px 10px; background-color: #fff; }

ol.main-category li[data-title] { counter-increment: my-badass-counter; }

ol.main-category li[data-title]:after { position: absolute; top: 15px; left: 0px; vertical-align: inherit; text-align: center; color: #8d8d90; display: inline-block; width: 50px; font-size: 0.9em; line-height: 0.9em; padding: 5px 0px; content: counter(my-badass-counter) "."; }

ol.main-category li a { display: block; padding: 15px 40px 15px 45px; line-height: 25px; color: #000; position: relative; vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; max-width: 100%; overflow: hidden; }

ol.main-category li a[data-description]:not(:empty):after { display: inline; font-size: 80%; white-space: pre-line; content: " (" attr(data-description) ")"; color: #333; }

ol.main-category li:last-child { border: 0; }

ol.main-reader { margin: 5px 0; }

ol.main-reader > li { overflow: hidden; }

ol.main-reader > li > h2 { font-size: 120%; text-align: center; padding: 15px 0; border-bottom: 1px solid #e6e6e6; box-shadow: 0px 1px 0px 0px #fff ; color: #052B58; text-shadow: 0px 1px 1px #fff; }

ol.main-reader > li > h2[data-description]:not(:empty):after { display: block; padding: 3px 10px; font-size: 70%; white-space: pre-wrap; content: attr(data-description); color: #333; font-weight: normal; }

ol.main-reader > li > ol li { font-size: 107%; position: relative; padding: 15px 10px; /* &:nth-child(odd) { } &:nth-child(even) { background-color: #fff; } &:last-child{ border: 0; &:nth-child(even){ background-color:transparent; } } */ }

ol.main-reader > li > ol li[data-title] { margin-top: 50px; }

ol.main-reader > li > ol li[data-title]:before { display: block; width: 97%; position: absolute; top: -35px; text-align: center; content: attr(data-title); font-size: 120%; padding: 7px 0 15px 0; }

ol.main-reader > li > ol li div:before, ol.main-reader > li > ol li div sup { color: #666; }

ol.main-reader > li > ol li div:first-child { width: 45px; position: absolute; top: 16px; left: 0px; }

ol.main-reader > li > ol li div:first-child:before { display: block; width: 90%; text-align: center; font-size: 1.0em; line-height: 1em; }

ol.main-reader > li > ol li div:last-child { margin-left: 40px; color: #000; }

ol.main-reader > li > ol li div:last-child:before { display: inline-block; margin-right: 2px; padding: 0; content: attr(data-title); }

ol.main-reader > li > ol li div:last-child sup { font-size: 80%; }

ol.main-reader > li > ol li div:last-child sup:first-child { display: none; }

ol.main-reader > li > ol li div:last-child b { color: #c12e2e; font-weight: lighter; text-shadow: 0px 1px 1px #f1e9eb; }

ol.main-reader > li > ol li.active div:first-child:before { color: #c12e2e; }

ol.main-lookup li { text-align: center; }

ol.main-lookup li div input { display: block; width: 100%; padding: 7px 0; font-size: 120%; text-align: center; margin: 0 auto; line-height: 30px; border: 0; outline: 0; }

ol.main-lookup li:first-child div { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; background-color: #fff; }

ol.main-lookup li:not(:first-child) { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; cursor: default; }

ol.main-lookup li:not(:first-child) div { text-transform: uppercase; }

ol.main-lookup li > ol { padding: 0; margin: 1px 30px 7px 30px; border: 1px solid #ccc; }

ol.main-lookup li > ol li { padding: 10px; border-bottom: 1px solid #ccc; text-transform: uppercase; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

ol.main-lookup li > ol li.active { background-color: #ccc; }

ol.main-lookup li > ol li:last-child { border: 0; }

ol.main-lookup li.lsi div { display: table; width: 80%; margin: 0 auto; }

ol.main-lookup li.lsi div p { display: table-cell; padding: 7px; }

ol.main-lookup li.lsi div p.active { background-color: #ccc; }

ol.main-lookup li.lsi div p:first-child { border-right: 1px solid #ccc; }

ol.main-display { margin: 5px 0; }

ol.main-display > li { text-align: center; }

ol.main-display > li h3 { padding: 10px 10px; color: #C3C3C3; text-transform: capitalize; }

ol.main-display > li > ol { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; }

ol.main-display > li > ol > li { padding: 5px; margin: 5px; width: 40px; height: 40px; min-width: 50px; border-radius: 2px; vertical-align: middle; box-shadow: 0 0px 1px 1px #b9baba inset; }

ol.main-display > li > ol > li:before { padding: 1px; margin: 7px; font-size: 1.4em; color: #fff; text-shadow: 1px 1px 1px #666; border-radius: 50px; }

ol.main-display > li > ol.fontsize li:not(.active)[data-title]:before { content: attr(data-title); color: #c12e2e; text-shadow: 0px 1px 1px #fff; font-size: 1.5em; background-color: #ccc; }

ol.main-display > li > ol.background li { border: 3px solid #fafafa; }

ol.main-display > li > ol.background li:not(.active):before { content: ''; }

ol.main-display > li > ol.background li.color-white { background-color: #ffffff; box-shadow: 0 0px 1px 1px #d9d9d9 inset; }

ol.main-display > li > ol.background li.color-lightgray { background-color: #F8F8F8; box-shadow: 0 0px 1px 1px #d2d2d2 inset; }

ol.main-display > li > ol.background li.color-dimgrey { background-color: #7f7f7f; box-shadow: 0 0px 1px 1px #666666 inset; }

ol.main-display > li > ol.background li.color-chocolate { background-color: #b97a59; box-shadow: 0 0px 1px 1px #9d6142 inset; }

ol.main-display > li > ol.background li.color-darkred { background-color: #880016; box-shadow: 0 0px 1px 1px #55000e inset; }

ol.main-display > li > ol.background li.color-red { background-color: #ed1b24; box-shadow: 0 0px 1px 1px #c51017 inset; }

ol.main-display > li > ol.background li.color-gold { background-color: #fef102; box-shadow: 0 0px 1px 1px #ccc201 inset; }

ol.main-display > li > ol.background li.color-green { background-color: #24b04d; box-shadow: 0 0px 1px 1px #1b863a inset; }

ol.main-display > li > ol.background li.color-darkblue { background-color: #3f47cc; box-shadow: 0 0px 1px 1px #2d34ab inset; }

ol.main-information { padding: 20px; }

ol.main-information li { margin-top: 20px; margin-bottom: 10px; text-align: center; }

ol.main-information li:first-child { margin-bottom: 40px; }

ol.main-information li h3 { padding: 10px 1px; }

ol.main-information li p[data-title]:not(:empty):before { display: inline-block; margin-right: 7px; content: attr(data-title); color: #666; }

ol.msg { display: table; height: 100%; margin: 0 auto; vertical-align: middle; text-align: center; }

ol.msg > li { display: table-cell; vertical-align: inherit; font-size: 120%; font-weight: lighter; color: #C3C3C3; }
