header{
  >ul{
    display: table; width: 100%; height: 100%; vertical-align: inherit;
    >li{
      display: table-cell;vertical-align: inherit; position: relative;
      &:before{
      }
      &:hover{
        &:before{
        }
      }
      &:last-child{
        > ul {
          display: none;
          &.active{
            display: table; width: 100%; height: 100%; vertical-align: inherit;
            >li{
              display: table-cell;vertical-align: inherit;
            }
          }
        }
      }
      // NOTE: Control
      &.ctl{
        >ul{
          position: inherit;
          >li{
            line-height: 20px; height: 49px;
            text-overflow:ellipsis; overflow: hidden;
            // border-right: 1px solid #ccc;
            >div{
              padding: 11px 1px 12px 1px; font-size: 110%;text-overflow:ellipsis; overflow: hidden;
              
              &:before{
                color: #8f9193;
                font-size: 120%;
              }
              &:hover{
                &:before{
                  color:$ColorRed;
                }
              }
            }
            &.link-content{
              text-transform: uppercase;
              white-space: nowrap; max-width:90px;
              position: inherit;
              // max-width:100%;
            }
            &.fixed{
              width: 50px;
              // min-width: 50px;
              text-align: center;
              &.border{
                // display: none;
                visibility: hidden;
                >div{
                  border: 1px solid #ccc;
                  margin:5px 5px 6px 5px;
                  padding: 6px 0px 6px 1px;
                }
              }
            }
            > div {
              text-align: center; cursor: default;
              &[data-title]{
                &:after{
                  background-color: #8f9193;
                }
              }
            }
            &:first-child{
              border-right: 1px solid #ccc;
            }
            &:last-child{
              border-left: 1px solid #ccc;
            }
          }
        }
      }
    }
  }
}
body{
  &#category, &#reader{
    header{
      >ul{
        >li{
          &.ctl{
            >ul{
              >li{
                &.fixed{
                  &.border{
                    // display: block;
                    visibility: visible;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

                