nav{
  >dl{
    >dt{
    }
    >dd{
      ul{
        padding: 5px 10px;
        li{
          border-bottom: 1px dotted #ccc;
          padding:10px;
          font-size: 110%;
          text-transform: uppercase;
          // display: table; width: 100%;
          &.active{
            p{
              a{
                color: #ccc;
              }
            }
          }
          p{
            a{
              display: block;
              padding:5px 7px;
              text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
              color: $ColorBlue;
              &[data-title]{
                &:after{
                  content: attr(data-title);
                }
              }
            }
          }
          div{
            display: table-cell;
            text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
            width: 100%;
            max-width: 90px;
            padding:5px 7px;
            &:last-child{
              text-align: center;
              width: 90px;
              // min-width: 90px;
              // background-color: red;
              // border: 1px solid #ccc;
              background-color: #ccc
            }
            span{
              &.icon-loading{
                max-width: 50px;
                &:before{
                  color: #fff;
                }
              }
            }
          }
          &:last-child{
            border-bottom: 0;
          }
        }
      }
    }
  }
}
/*
nav{
  >div{
    ul{
      padding: 20px 10px;
      li{
        border-bottom: 1px dotted #ccc;
        padding:15px 10px;
        font-size: 120%;
        text-transform: uppercase;
        // display: table; width: 100%;
        a{
          display: block;
          padding: 10px;
          text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
          color: $ColorBlue;
        }
        div{
          display: table-cell;
          text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
          width: 100%;
          max-width: 90px;
          padding:5px 7px;
          &:last-child{
            text-align: center;
            width: 90px;
            // min-width: 90px;
            // background-color: red;
            // border: 1px solid #ccc;
            background-color: #ccc
          }
        }
        &:last-child{
          border-bottom: 0;
        }
      }
    }
  }
}
*/