@import 'config';
// @include scrollbar();
a, span {
  outline: none; text-decoration: none;
  -webkit-user-select:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; -webkit-user-select: none; -webkit-touch-callout: none;
}
#dialog, header {
  cursor: default;
  @include user-select();
}
* {
  margin: 0; padding: 0;
}
form {
  input {
    &[type="checkbox"] {
      &:disabled {
        opacity: 0.3;
      }
    }
  }
  textarea {}
  select {}
  button {}
}
input {}
textarea {}
button {}
html {
  position:absolute;top: 0;left: 0;margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden;
}
body {
  color:$FontColor; font-size: $FontSize; font-family: $Font;
  -webkit-text-size-adjust:none;
  @extend html;
  background-color: $BackgroundColor;
  >div{
    position: fixed; left:0; right:0;
    @import "style.Splash";
    @import "style.Dialog";
    &#main{
      z-index: 1; display: table; width: 100%; height: 100%;border-collapse: collapse; 
      // z-index: 1; display: table; width: 100%; height: 100%;border-collapse: collapse; 
      top:0;bottom: 0; box-sizing:border-box;-webkit-box-sizing: border-box; overflow: hidden;
      >*{
        display: table-row;
        &:empty{
          display: none;
        }
      }
      nav{
        display: none;
        height: 100%;
        width: 100%;
        z-index: 4;
        // background-color: rgba(255,255,255,0.7);
        background-color: rgba(0, 0, 0, 0.1);
        position: fixed; top:0px; bottom:0; right: 0;
        @include user-select();
        /*
        >div{
          z-index: 7; position: fixed; width: 95%; max-width:290px; top:0px; bottom:0;  right: 0;
          // margin: 20px 0 20px 0;
          overflow:auto;-webkit-overflow-scrolling:touch;box-sizing:border-box;-webkit-box-sizing: border-box;
          @include text-size-adjust(100%);@include box-sizing();
          background-color: #fff;
          box-shadow: -1px 0px 1px 1px darken(#e1e1e2,10%);
        }
        */
        dl {
          // display: block; position:relative;max-width: 250px; height: 100%;
          z-index: 7; position: fixed; width: 95%; max-width:290px; top:0px; bottom:0;  right: 0;
          background-color: #fff;
          box-shadow: -1px 0px 1px 1px darken(#e1e1e2,10%);
          dt {
            display: flex; height: 30px; align-items: center;
            p {
              text-align: center; font-size: 115%; text-transform: uppercase;
              // color: #8f9193;width: 100%;
              color: #fff;
              &:before {
              }
            }
          }
          dd {
            overflow-y: auto;
            // @include box-shadow(1px, 0px, 0px, 0px, #d9dbdd);
            -webkit-overflow-scrolling: touch;
            height: 100%;
            max-height: -o-calc(100% - 30px);
            max-height: -moz-calc(100% - 30px);
            max-height: -webkit-calc(100% - 30px);
            &:empty{
              display: none;
            }
            >ul{
              list-style: none;
            }
          }
        }
      }
      header{
        // height: 50px;
        z-index: 3;
        background-color: $BackgroundColorHeader;
        border-bottom: 1px solid darken($BackgroundColor,12%);
        vertical-align: middle;
      }
      main{
        z-index: 2;height: 100%;
        >div{
          position: fixed; top:50px; left: 0; right: 0;bottom:0; // bottom:35px;
          &.container.active{
            overflow:auto;-webkit-overflow-scrolling:touch;box-sizing:border-box;-webkit-box-sizing: border-box;
            @include text-size-adjust(100%);@include box-sizing();
          }
          &.active{
          }
          &:not(.active){
            display:none;
          }
        }
      }
      footer{
      }
      // >*{
      //   position: fixed;left:0; right:0;
      // }
      // nav{}
      // header{
      //   top: 0;
      //   background-color: red;
      // }
      // main{
      //   top: 50px; bottom: 50px;
      //   background-color: blue;
      // }
      // footer{
      //   bottom: 0;
      //   background-color: gray;
      // }
    }
  }
  // Color
  &.color-white{
    background-color:#ffffff;
    // @import "style.Color.white";
  }
  &.color-lightgray{
    // background-color:#e1e1e1;
    background-color:#F8F8F8;
    // @import "style.Color.lightgray";
  }
  &.color-dimgrey{
    background-color:#7f7f7f;
    // @import "style.Color.dimgrey";
  }
  &.color-chocolate{
    background-color:#b97a59;
    // @import "style.Color.chocolate";
  }
  &.color-darkred{
    background-color:#880016;
    // @import "style.Color.darkred";
  }
  &.color-red{
    background-color:#ed1b24;
    // @import "style.Color.red";
  }
  &.color-gold{
    background-color:#fef102;
    // @import "style.Color.gold";
  }
  &.color-green{
    background-color:#24b04d;
    // @import "style.Color.green";
  }
  &.color-darkblue{
    background-color:#3f47cc;
    // @import "style.Color.darkblue";
  }
  // Size
  &.size-small-extra{
    // @import "style.Size.small-extra";
  }
  &.size-small{
    // @import "style.Size.small";
  }
  &.size-normal{
    // @import "style.Size.normal";
  }
  &.size-large{
    // @import "style.Size.large";
  }
  &.size-large-extra{
    // @import "style.Size.large-extra";
  }
}
// NOTE: hO, hW
ul{
  list-style: none;
  /*
  &.hO{
    display: none;
    position: absolute;
    box-shadow:inset 0 0px 1px 1px #ccc;background-color:#FFF;border-radius:2px;z-index:90;
    top:40px;padding:3px;
    margin: 0 auto;
    
    // width:90%;max-width:290px;min-height:40px;
    // width:90%;width:290px;height:40px;
    &:empty {
      display: none;
    }
    &:before, &:after{
      position: absolute;
      display:block;width:0px;height:0px;content: "";vertical-align:middle;border:solid transparent;
    }
    &:before{
      border-bottom-color:#ccc;border-width:7px;right:27px;top:-13px;
      // border-bottom-color:#ccc;border-width:9px;right:27px;top:-17px;
    }
    &:after{
      border-bottom-color:#fff;border-width:7px;right:27px;top:-11px;
      // border-bottom-color:#fff;border-width:9px;right:27px;top:-15px;
    }
    >li{
      display: block;
      position: relative;
      -webkit-overflow-scrolling:touch;
      overflow:auto;
      // overflow-y:auto;
      // overflow-x: hidden;
      box-sizing: border-box;
      // width:290px;
      // max-width:290px;
      max-height:70vh;
      &::-webkit-scrollbar {
        width:5px;
      }
      &:empty{
        display:none;
      }
    }
  }
  &.hW{
    position:absolute; top:30px; left: 0px;
    // border-radius:2px;z-index:9999;
    width:100%; padding:0;
    background-color:#FFF;box-shadow:inset 0px -1px 1px 0px darken($BackgroundColor,22%);
    display: none;
    &:empty{
      display: none;
    }
    >li{
      display:block;overflow:auto;max-height:70vh;
      &:empty{
        display:none;
      }
    }
  }
  */
}
@import 'style.Nav';
@import 'style.Header';
@import 'style.Main';
