ol{
  list-style: none;font-size: 100%; 
  &.main-footer{
    position: fixed;
    height: 35px;
    bottom: 0; left: 0; right: 0;
    // background-color: $BackgroundColorHeader;
    // border-top: 1px solid darken($BackgroundColor,12%);
    >li{
      text-align: center;
      padding-top: 3px;
      >ul{
        display: inline-block; 
        border: 1px solid #ccc;
        >li{
          display: inline-block;
          padding: 5px 7px;
          text-transform: uppercase;
          cursor: default;
          border-right: 1px solid #ccc;
          @include user-select();
          &.active{
            // color:$ColorRed;
          }
          &.inactive{
            color:#ccc;
          }
          &:last-child{
            border-right:0;
          }
        }
      }
    }
  }
  &.main-index{
    position: fixed;
    top: 60px; right:15px;
    width: 18px; //bottom: 20px; 
    max-height: 80vh;
    // display: flex;
    // align-items:center;
    // flex-direction: row;
    // flex-flow: row wrap;
    text-align: center;
    background-color:rgba(0,0,0,0.1);
    border-radius: 15px;
    // overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 80%;
    cursor: default;
    @include user-select();
    &::-webkit-scrollbar {
        width: 0 !important;
    }
    li{
      width: 18px;
      padding: 3px 0;
      // height: 20px;
      // background-color: blue;
    }
  }
  &.common-box-main{
    padding: 20px;
    li{
      div{
        display: block; padding:10px 7px;
        margin: 5px 30px 5px 30px;
        border: 1px solid #ccc;
        text-transform: capitalize;font-size: 120%;
        color: #000;
        text-overflow:ellipsis; overflow: hidden; white-space: nowrap; max-width:100%;
      }
    }
  }
  &.main-home{
    // NOTE: common-box-main used here
    // margin-bottom: 35px;
    li{
      div{
      }
    }
  }
  &.main-language{
    padding: 10px;
    li{
      display: table; width: 98%; 
      margin: 10px 1%;
      div{
        display: table-cell; font-size: 110%;
        text-transform: uppercase;
        padding: 7px 3px;
        &:first-child{
          max-width:40px; text-overflow:ellipsis; overflow: hidden; white-space: nowrap; //max-width:100%;
        }
        &:last-child{
          width: 90px;
          text-align: center;
          border: 1px solid #ccc;
        }
      }
    }
  }
  &.main-setting{
    // NOTE: common-box-main used here
  }
  &.main-book_delete_or_what{
    /*
    margin:5px 0;border-left: 0; border-right: 0;
    li{
      border-bottom: 1px solid darken($BackgroundColor,7%);
      @include box-shadow(0px, 1px, 0px, 0px, #fff);
      text-align: center;
      margin:15px 0;
      &:last-child{
        border: 0;@include box-shadow(0px, 0px, 0px, 0px, #fff);
      }
      >div{
        text-align: inherit;
        text-overflow:ellipsis; overflow: hidden; 
        font-size: 115%;
        &:first-child{
          width: 35px;
          height: 35px;
          margin: 0 auto;
          &:before{
            display: block; vertical-align: middle; text-align: center; position: relative; padding:3px; line-height: 1.3em; font-size: 1em; color:$ColorBlue; width: 23px; height: 23px;
            background-color: darken($BackgroundColor,7%); border-radius:30px; 
          }
          &.icon-cloud{
            &:before{
              color:$ColorBlue;
            }
          }
          &.icon-attention{
            &:before{
              color:$ColorDim;
            }
          }
          &.icon-ok{
            &:before{
              color:$ColorGreen;
            }
          }
          &.icon-loading{
            // NOTE: animate-spin
            &:before{
              color:$ColorRed;
              background-color: transparent; @include box-shadow(0, 0px, 0px, 0px, #fff);
            }
          }
        }
        &:last-child{
          cursor: pointer;
          white-space: nowrap;max-width: 100%;
          padding: 10px;
          &[data-description]:not(:empty){
            &:after{
              display: block; margin-top: 7px; font-size: 70%;
              white-space: pre-wrap;
              content: attr(data-description);
              color:$ColorBlue;
            }
          }
        }
      }
    }
    */
  }
  &.main-upload_delete_or_what{
    margin:2%; 
    border: 2px dotted #666;
    border-radius: 7px;
    background-color:#fff;
    font-size: 90%;
    >li{
      text-align: center;
      padding: 15px 10px;
      &:nth-child(1){
        color: $ColorRed;
        font-size: 80%;
        
      }
      &:nth-child(2){
        input{
          width: auto;
          color: transparent;
          outline: none;
          background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
          border: 1px solid #666;
          @include box-shadow(0px, 0px, 1px, 1px, #ccc,inset);
          border-radius: 50px;
          &::-webkit-file-upload-button {
            visibility: hidden;
            display: none;
          }
          &::before {
            content: 'Choose your XML!';
            color: black;
            display: block;
            text-align: center;
            padding: 5px 0px;
            outline: none;
            -webkit-user-select: none;
            cursor: pointer;
            text-shadow: 1px 1px #fff;
          }
          &:hover::before {
            border-color: red;
          }
          &:active {
            outline: 0;
          }
          &:active::before {
          }
        }
      }
    }
  }
  &.main-category{
    margin: 5px 0;vertical-align: middle;
    counter-reset: my-badass-counter;
    @include user-select();
    li{
      vertical-align: inherit;
      font-size: 107%;position: relative;
      padding: 0px 5px;
      line-height: 20px;
      border-bottom: 1px solid darken($BackgroundColor,9%);
      // content: counter(my-badass-counter);
      
      &.alpha{
        text-align: center;
        font-size: 140%;
        padding:20px 10px;
        background-color: #fff;
      }
      &[data-title]{
        counter-increment: my-badass-counter;
        &:after{
          position: absolute; top:15px; left: 0px;
          vertical-align: inherit;
          text-align: center;
          color: #8d8d90;
          display: inline-block; width:50px;
          font-size: 0.9em; line-height: 0.9em; padding:5px 0px;
          // content: attr(data-title) '.';
          content: counter(my-badass-counter) '.';
        }
        &:nth-child(odd) {
          // background-color: #fff;
        }
        &:nth-child(even) {
        }
        &:last-child{
          // border: 0;
          &:nth-child(even){
            // background-color:transparent;
          }
        }
      }
      a{
        display: block;
        padding: 15px 40px 15px 45px;
        line-height: 25px;
        color: #000;
        position: relative;
        vertical-align: middle;
        text-overflow:ellipsis; white-space: nowrap; max-width:100%;
        overflow: hidden;
        &[data-description]:not(:empty){
          &:after{
            display: inline;
            font-size: 80%;
            white-space: pre-line;
            content: ' (' attr(data-description) ')';
            color: $FontColor;
          }
        }
      }
      // &:last-child{
      //   border-bottom:0;
      // }
      &:nth-child(odd) {
      }
      &:nth-child(even) {
        // background-color: #fff;
      }
      &:last-child{
        border: 0;
        &:nth-child(even){
          // background-color:transparent;
        }
      }
    }
  }
  &.main-reader{
    margin: 5px 0;
    >li{
      overflow: hidden;
      >h2{
        font-size:120%;text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid darken($BackgroundColor,7%);
        @include box-shadow(0px, 1px, 0px, 0px, #fff);
        color: $ColorBlue;
        @include text-shadow(0px, 1px, 1px, #fff);
        &[data-description]:not(:empty){
          &:after{
            display: block; padding: 3px 10px; font-size: 70%; white-space: pre-wrap;
            content: attr(data-description);
            color:$FontColor;
            font-weight: normal;
          }
        }
      }
      >ol{
        li{
          font-size: 107%;position: relative;
          padding: 15px 10px; 
          &[data-title]{
            margin-top: 50px;
            &:before{
              display: block;
              width: 97%;
              position: absolute;
              top: -35px;
              text-align: center;
              content: attr(data-title);
              font-size:120%;
              padding: 7px 0 15px 0;
            }
          }
          div{
            &:before,sup{
              color: #666;
            }
            &:first-child{
              width: 45px; position: absolute; top: 16px; left: 0px;
              &:before{
                display: block;width:90%;
                text-align: center; font-size: 1.0em; line-height: 1em;
              }
            }
            &:last-child{
              margin-left: 40px;
              color: #000;
              &:before{
                display: inline-block; margin-right: 2px; padding: 0; content: attr(data-title);
              }
              sup{
                font-size: 80%;
                &:first-child{
                  display: none;
                }
              }
              b{
                color: $ColorRed; font-weight: lighter; @include text-shadow(0px, 1px, 1px, #f1e9eb);
              }
            }
          }
          &.active{
            div{
              &:first-child{
                &:before{
                  color: $ColorRed;
                }
              }
            }
          }
          /*
          &:nth-child(odd) {
          }
          &:nth-child(even) {
            background-color: #fff;
          }
          &:last-child{
            border: 0;
            &:nth-child(even){
              background-color:transparent;
            }
          }
          */
        }
      }
    }
  }
  &.main-lookup{
    // padding: 20px;
    li{
      text-align: center;
      div{
        // display: block; padding:10px 7px;
        // margin: 5px 30px 5px 30px;
        // border: 1px solid #ccc;
        // text-transform: capitalize;font-size: 120%;
        // color: #000;
        // text-overflow:ellipsis; overflow: hidden; white-space: nowrap; max-width:100%;
        input{
          display: block; width:100%; padding:7px 0; font-size: 120%;text-align: center;
          margin: 0 auto; line-height: 30px;
          border: 0;
          outline: 0;
        }
      }
      &:first-child{
        div{
          margin-top: 0px;
          margin-bottom: 0px;
          padding-top:0px;
          padding-bottom:0px;
          background-color:#fff;
        }
      }
      &:not(:first-child){
        @include user-select();
        cursor: default;
        div{
          text-transform: uppercase;
        }
      }
      >ol{
        // padding: 1px 30px 7px 30px;
        // text-align: center;
        padding: 0;
        margin: 1px 30px 7px 30px;
        border: 1px solid #ccc;
        li{
          padding: 10px;
          border-bottom: 1px solid #ccc;
          text-transform: uppercase;
          text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
          &.active{
            background-color: #ccc;
          }
          &:last-child{
            border:0;
          }
        }
      }
      &.lsi{
        // border: 1px solid #ccc;
        // margin: 5px 30px 5px 30px;
        // display: table; max-width: 100%;
        // text-align: center;
        // display: flex; 
        div{
          display:table;
          width: 80%;
          // width: auto;
          margin: 0 auto;
          p{
            display: table-cell;
            padding: 7px;
            &.active{
              background-color: #ccc;
            }
            &:first-child{
              border-right: 1px solid #ccc;
            }
          }
        }
        // p{
        //   // display: inline-block;
        //   margin: 0 auto;
        //   // width: 45%;
        //   // max-width: 100px;
        //   display: table-cell;
        //   // width: 40%;
        //   background-color: red;
        //   padding: 5px;
        // }
      }
    }
  }
  &.main-display{
    margin: 5px 0;
    >li{
      text-align: center;
      h3{
        padding:10px 10px;
        color: $ColorDim;
        text-transform: capitalize;
      }
      >ol{
        display: flex; align-items: center; justify-content: center; flex-wrap: wrap;
        >li{
          padding: 5px; margin: 5px;
          width: 40px; height: 40px;
          min-width: 50px;
          border-radius: 2px;
          vertical-align: middle;
          @include box-shadow(0, 0px, 1px, 1px, #b9baba,inset);
          &:before{
            padding: 1px;
            margin: 7px;
            font-size: 1.4em;
            color: #fff;@include text-shadow(1px, 1px, 1px, #666);
            border-radius: 50px;
          }
        }
        &.fontsize{
          li{
            &:not(.active){
              &[data-title]{
                &:before{
                  content:attr(data-title);
                  color:$ColorRed;@include text-shadow(0px, 1px, 1px, #fff);
                  font-size: 1.5em;
                  background-color: $ColorNone;
                }
              }
            }
          }
        }
        &.background{
          li{
            border: 3px solid darken(#fff,2%);
            &:not(.active){
              &:before{
                content:'';
              }
            }
            &.color-white{
              background-color: #ffffff;
              @include box-shadow(0, 0px, 1px, 1px, darken(#ffffff,15%),inset);
            }
            &.color-lightgray{
              background-color: #F8F8F8;
              @include box-shadow(0, 0px, 1px, 1px, darken(#F8F8F8,15%),inset);
            }
            &.color-dimgrey{
              background-color: #7f7f7f;
              @include box-shadow(0, 0px, 1px, 1px, darken(#7f7f7f,10%),inset);
            }
            &.color-chocolate{
              background-color: #b97a59;
              @include box-shadow(0, 0px, 1px, 1px, darken(#b97a59,10%),inset);
            }
            &.color-darkred{
              background-color: #880016;
              @include box-shadow(0, 0px, 1px, 1px, darken(#880016,10%),inset);
            }
            &.color-red{
              background-color: #ed1b24;
              @include box-shadow(0, 0px, 1px, 1px, darken(#ed1b24,10%),inset);
            }
            &.color-gold{
              background-color: #fef102;
              @include box-shadow(0, 0px, 1px, 1px, darken(#fef102,10%),inset);
            }
            &.color-green{
              background-color: #24b04d;
              @include box-shadow(0, 0px, 1px, 1px, darken(#24b04d,10%),inset);
            }
            &.color-darkblue{
              background-color: #3f47cc;
              @include box-shadow(0, 0px, 1px, 1px, darken(#3f47cc,10%),inset);
            }
          }
        }
      }
    }
  }
  &.main-information{
    // NOTE: used in contact and about
    padding: 20px;
    li{
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
      &:first-child{
        margin-bottom: 40px;
      }
      h3{
        padding: 10px 1px;
      }
      p{
        &[data-title]:not(:empty){
          &:before{
            display: inline-block; 
            margin-right: 7px;
            content: attr(data-title);
            color: #666;
            // font-style: italic;
            // text-decoration: underline;
          }
        }
      }
    }
  }
  &.main-tmp_delete_or_what{
  }
  // NOTE: Common  
  &.msg{
    display: table; height: 100%; margin: 0 auto; vertical-align: middle; text-align: center;
    >li{
      display: table-cell; vertical-align: inherit;
      font-size: 120%;
      font-weight: lighter;
      color: $ColorDim;
    }
  }
}