@import 'app-common';

RadListView {
  StackLayout {
    &.item {
      background-color: darken($body-bg-color,0);
      padding:10 20;
      margin-top: 1px;
      > Label {
        font-weight: 300;
        &[row="0"] {
          font-size: 18;
        }
        &[row="1"] {
          font-size: 12;
          color:lighten(#666,25%);
        }
      }
    }
  }
  >Label {
    &.category {
      padding:3 20;
      font-size: 12;
      color: darken(#fff,30%);
    }
  }
}