@import 'app-common';

GridLayout {
  // background-color: transparent;
  > Label {
    vertical-align: middle;
    &[col="0"]{
      color:lighten($icon-default-color,10);
      font-size: 20;
      text-align: center;
    }
    &[col="1"]{
      color:lighten($icon-default-color,15);
    }
  }
  &.active{
    > Label {
      &[col="0"]{
        // color:darken($icon-default-color,10%);
        color:darken($icon-active-color,0);
      }
      &[col="1"]{
        color:darken($icon-active-color,0);
        // color:darken(#7C7A79,15);
      }
    }
  }
}
> StackLayout {
  vertical-align: middle;
  &[row="0"]{
    text-align:center;
    Label {
      &[row="0"]{
        font-size: 15;
        color:#9fa7b7;
        text-shadow: 2px 1px 0px #fff;
      }
      &[row="1"]{
        font-size: 10;
        color:#B5B0AF;
      }
      &[row="2"]{
      }
      &[row="3"]{
        color:#7C7A79;
      }
    }
  }
  // bottom
  &[row="2"]{
    > GridLayout {
      Label {
        &[col="0"]{
          color:#B5B0AF;
        }
        &[col="1"]{
          color:#7C7A79;
        }
      }
    }
  }
}
> ScrollView {
  // background-color: lighten($body-bg-color,0%);
}