@import 'app-common';


RadListView {
  padding-top:5;
  background-color: darken($container-bg-color,0%);
  StackLayout {
    background-color: darken($container-bg-color,0%);
    // background-color: transparent;
    padding:2 4;
    &.item {
      FlexboxLayout {
        // margin:2 10;
        padding:5;
        background-color: darken($body-bg-color,0%);
        // border-radius: 5;
        // border-bottom-width: 1;
        // border-bottom-color: darken($container-bg-color,0%);
        // border-bottom-color: darken($container-bg-color,20%);
        >Label{
          font-size: 17;
          padding: 10;
        }
        >GridLayout{
          // background-color: red;
          // padding: 10;
          margin:2 10 2 10;
          font-size: 13;

          // margin:2 10 2 0;
          // margin: 2 5;
          border-top-width: 1;
          border-top-color: darken($container-bg-color,0%);
          > Label{
            padding: 5 2 1 2;
            text-align: center;
            // font-style: italic;
            &.book{
              font-weight: 400;
              color:lighten(#666,5%);
            }
            &.chapter{
              color:lighten(#666,10%);
            }
            &.verse{
              color:lighten(#666,20%);
            }
          }
        }
      }
    }
  }
}