@import 'app-common';

RadListView {
  StackLayout {
    &.item {
      background-color: darken($body-bg-color,0);
      padding:10 20;
      // margin-top: 1;
      Label {
        &.book{
          padding-bottom: 2;
          color:lighten(#666,20%);
          font-size: 13;
        }
        &.desc{
          font-size: 18;
          font-weight: 300;
          color:lighten(#000,0);
          padding-top: 2;
        }
      }
    }
  }
}
