@import 'app-common';

RadListView{
  background-color: darken($container-bg-color,0%);
  GridLayout.item, GridLayout.swipeViewOptions {
    padding:15 20;
    border-bottom-width: 2;
    border-bottom-color: darken($container-bg-color,0%);
    background-color: darken($body-bg-color,0%);
  }
  GridLayout{
    &.item{
      // background-color: darken($body-bg-color,0%);
      Label {
        vertical-align: middle;
        &.name{
          color:lighten(#666,15%);
          font-size: 19;
          font-weight: 300;
          text-transform: uppercase;
        }
        &.desc{
          color:lighten(#666,25%);
          font-size: 13;
        }
        &.tag{
          text-align: center;
          color:lighten($icon-default-color,60%);
          font-size: 25;
          padding: 11 0;
          font-weight: 400;
          // border-radius: 100;
          // background-color: lighten($icon-default-color,50%);
        }
      }
      &.available {
        Label {
          &.name{
            color:darken($icon-default-color,50%);
          }
          &.tag{
            color:lighten($icon-default-color,40);
          }
        }
      }
      // opacity: 0;
      // animation-name: show;
      // animation-duration: 3s;
      // animation-fill-mode: forwards;
      // @keyframes show {
      //   from { opacity: 0; }
      //   to { opacity: 1; }
      // }
      // &.en{}
      // &.my{}
      // &.zo{}
      // &.other{}
    }
    &.header{
      background-color: darken($container-bg-color,0%);
      > Label{
        font-size: 10;
        color: darken(#fff,30%);
        text-align: center;
      }
    }
    &.footer{
      background-color: darken($container-bg-color,0%);
      > Label{
        font-size: 10;
        color: darken(#fff,30%);
        text-align: center;
      }
    }
    &.swipeViewOptions{
      padding:15 5;
      border-bottom-color:lighten($icon-default-color,20);
      > GridLayout{
        padding-left:5;
        > Label{
          padding:12 10;
          text-align: center;
          font-size: 12;
          text-transform: uppercase;
          vertical-align: middle;
          background-color: lighten($icon-default-color,40);
          color:#fff;
          &.danger{
            background-color: lighten($icon-default-color,10);
          }
        }
      }
    }
  }
  > Label {
    &.category{
      background-color: darken($container-bg-color,0%);
      padding:3 22;
      font-size: 12;
      color: darken(#fff,30%);
    }
  }
}