/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
.ico, .fa {
    font-family: "FontAwesome";
    font-size: 18;
    color: #685c1f;
    /* color: darkgray; */
}
ListView{
  background-color: transparent;
  /* fcfcfc */
}
@import '~nativescript-theme-core/css/core.light.css';

.sidedrawer-list-item .fa{
  font-size: 20;
  text-align: center;
}
.sidedrawer-list-item.active{
  background-color:#edebe6;
  color:#966e0a;
}
.sidedrawer-list-item.active .fa{
  color:#af8211;
}

.list-group {
}
.list-group StackLayout {

}
.action-bar-title {
  color: #423b17;
  font-weight: 500;
  /* text-align: center;
  vertical-align: center; */
  padding: 0;
  margin: 0;
  /* width: 60%; */
}

ActionBar {

  /* border-color: transparent; */
  /* background-color: #fff; */
  /* border:0; */
  /* border-color: gray;
  border-width: 1px;
  border-bottom-width: 1px; */
}
SearchBar, .abc {
  /* border:1 solid red; */
  /* background-color: red; */
  border-radius: 3px;
}
.page {
    /* border-top-width: 20;
    border-top-color: blue;
    color:white; */
}